<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    <main id="main-content">
      <img width="296" height="256" alt="" src="{{{ uiRootPath }}}/img/sorry.png" />
      <h1>oopsie</h1>
      <p>it seems the page you are trying to access does not exist.</p>
      <a href="{{{ site.homeUrl }}}">return to monke</a>
    </main>
    <footer>
      <hr />
      {{> footer}}
    </footer>
  </body>
</html>
