    <script type="module" src="{{{ uiRootPath }}}/js/set-color-scheme.js"></script>
    <address>
      <a class="logo" href="https://github.com/Samferos">
        {{{ icon "github" "32px" }}}
      </a>
    </address>
