    <meta charset="UTF-8">
    <title>{{{ or page.title defaultPageTitle }}}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="light-dark(rgb(0 100 149), rgb(143 205 255))" />
    <link rel="icon" href="{{{ siteRootPath }}}/favicon.ico" />
    <link rel="stylesheet" href="{{{ uiRootPath }}}/css/site.css" />
